@import '../sass/variables';

.flex-container {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  div {
    color: $font-color;
    font-size: 2.2em;
    flex-grow: 1;
  }

  div:first-child {
    background-color: aqua;
  }
  div:nth-child(2) {
    background-color: crimson;
    flex-grow: 5;
  }
  div:nth-child(3) {
    background-color: coral;
    flex-grow: 5;
  }
  div:nth-child(4) {
    background-color: darkorange;
  }
  div:last-child {
    background-color: darkseagreen;
  }
}
